<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <article class="card employee-item">
                <header class="card__header">
                    <h1 class="employee__title">
                        <%= employee.title %>
                    </h1>
                </header>
                <div class="card__image">
                    <img src="/img/img.jpg" alt="<%= employee.title %>">
                </div>
                <div class="card__content">
                    <p class="employee__description">
                        <%= employee.description %>
                    </p>
                </div>
                <div class="card__actions">
                    <div class="card__actions">
                        <a href="/admin/edit-employee/<%= employee._id %>?edit=true" class="btn">Edit</a>
                        <form action="/admin/delete-employee" method="POST">
                            <input type="hidden" value="<%= employee._id %>" name="employeeId">
                            <button class="btn" type="submit">Delete</button>
                        </form>

                    </div>
                </div>
            </article>
        </main>
        <%- include('../includes/end.ejs') %>